# Working Notebook

__Phase 3 Project - Chicago Traffic Crash Classification__

__Business Understanding__

__Data Understanding and Preparation__

Load dependencies

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

Import data files

In [2]:
crashes = pd.read_csv('Chicago-Crashes/data/Traffic_Crashes_-_Crashes.csv')
people = pd.read_csv('Chicago-Crashes/data/Traffic_Crashes_-_People.csv')
vehicles = pd.read_csv('Chicago-Crashes/data/Traffic_Crashes_-_Vehicles.csv')

/Users/meaghanross/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/meaghanross/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (12,13,20,21,22,23,24,25,26,27,29) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/meaghanross/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (19,21,40,41,42,44,48,49,50,53,55,58,59,61,71) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
crashes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541142 entries, 0 to 541141
Data columns (total 49 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH_RECORD_ID                541142 non-null  object
 1   RD_NO                          536550 non-null  object
 2   CRASH_DATE_EST_I               41029 non-null   object
 3   CRASH_DATE                     541142 non-null  object
 4   POSTED_SPEED_LIMIT             541142 non-null  int64
 5   TRAFFIC_CONTROL_DEVICE         541142 non-null  object
 6   DEVICE_CONDITION               541142 non-null  object
 7   WEATHER_CONDITION              541142 non-null  object
 8   LIGHTING_CONDITION             541142 non-null  object
 9   FIRST_CRASH_TYPE               541142 non-null  object
 10  TRAFFICWAY_TYPE                541142 non-null  object
 11  LANE_CNT                       198968 non-null  float64
 12  ALIGNMENT                      541142 non-null  object
 13  ROADWAY_SURFACE_COND           541142 non-null  object
 14  ROAD_DEFECT                    541142 non-null  object
 15  REPORT_TYPE                    527615 non-null  object
 16  CRASH_TYPE                     541142 non-null  object
 17  INTERSECTION_RELATED_I         122702 non-null  object
 18  NOT_RIGHT_OF_WAY_I             25602 non-null   object
 19  HIT_AND_RUN_I                  162942 non-null  object
 20  DAMAGE                         541142 non-null  object
 21  DATE_POLICE_NOTIFIED           541142 non-null  object
 22  PRIM_CONTRIBUTORY_CAUSE        541142 non-null  object
 23  SEC_CONTRIBUTORY_CAUSE         541142 non-null  object
 24  STREET_NO                      541142 non-null  int64
 25  STREET_DIRECTION               541139 non-null  object
 26  STREET_NAME                    541141 non-null  object
 27  BEAT_OF_OCCURRENCE             541137 non-null  float64
 28  PHOTOS_TAKEN_I                 6746 non-null    object
 29  STATEMENTS_TAKEN_I             11007 non-null   object
 30  DOORING_I                      1746 non-null    object
 31  WORK_ZONE_I                    3412 non-null    object
 32  WORK_ZONE_TYPE                 2696 non-null    object
 33  WORKERS_PRESENT_I              843 non-null     object
 34  NUM_UNITS                      541133 non-null  float64
 35  MOST_SEVERE_INJURY             540019 non-null  object
 36  INJURIES_TOTAL                 540030 non-null  float64
 37  INJURIES_FATAL                 540030 non-null  float64
 38  INJURIES_INCAPACITATING        540030 non-null  float64
 39  INJURIES_NON_INCAPACITATING    540030 non-null  float64
 40  INJURIES_REPORTED_NOT_EVIDENT  540030 non-null  float64
 41  INJURIES_NO_INDICATION         540030 non-null  float64
 42  INJURIES_UNKNOWN               540030 non-null  float64
 43  CRASH_HOUR                     541142 non-null  int64
 44  CRASH_DAY_OF_WEEK              541142 non-null  int64
 45  CRASH_MONTH                    541142 non-null  int64
 46  LATITUDE                       538026 non-null  float64
 47  LONGITUDE                      538026 non-null  float64
 48  LOCATION                       538026 non-null  object
dtypes: float64(12), int64(5), object(32)
memory usage: 202.3+ MB

In [4]:
people.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1195747 entries, 0 to 1195746
Data columns (total 30 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   PERSON_ID              1195747 non-null  object
 1   PERSON_TYPE            1195747 non-null  object
 2   CRASH_RECORD_ID        1195747 non-null  object
 3   RD_NO                  1185613 non-null  object
 4   VEHICLE_ID             1172146 non-null  float64
 5   CRASH_DATE             1195747 non-null  object
 6   SEAT_NO                244512 non-null   float64
 7   CITY                   879728 non-null   object
 8   STATE                  890189 non-null   object
 9   ZIPCODE                803192 non-null   object
 10  SEX                    1177665 non-null  object
 11  AGE                    852450 non-null   float64
 12  DRIVERS_LICENSE_STATE  705542 non-null   object
 13  DRIVERS_LICENSE_CLASS  608027 non-null   object
 14  SAFETY_EQUIPMENT       1192258 non-null  object
 15  AIRBAG_DEPLOYED        1173141 non-null  object
 16  EJECTION               1181206 non-null  object
 17  INJURY_CLASSIFICATION  1195154 non-null  object
 18  HOSPITAL               215168 non-null   object
 19  EMS_AGENCY             136061 non-null   object
 20  EMS_RUN_NO             22281 non-null    object
 21  DRIVER_ACTION          948962 non-null   object
 22  DRIVER_VISION          948631 non-null   object
 23  PHYSICAL_CONDITION     949646 non-null   object
 24  PEDPEDAL_ACTION        22222 non-null    object
 25  PEDPEDAL_VISIBILITY    22174 non-null    object
 26  PEDPEDAL_LOCATION      22221 non-null    object
 27  BAC_RESULT             950056 non-null   object
 28  BAC_RESULT VALUE       1513 non-null     float64
 29  CELL_PHONE_USE         1157 non-null     object
dtypes: float64(4), object(26)
memory usage: 273.7+ MB

In [5]:
percent_missing = people.isnull().sum() * 100 / len(people)
missing_value_df = pd.DataFrame({'column_name': people.columns,
                                 'percent_missing': percent_missing})

pd.set_option('display.max_rows', None)
missing_value_df

                                 column_name  percent_missing
PERSON_ID                          PERSON_ID         0.000000
PERSON_TYPE                      PERSON_TYPE         0.000000
CRASH_RECORD_ID              CRASH_RECORD_ID         0.000000
RD_NO                                  RD_NO         0.847504
VEHICLE_ID                        VEHICLE_ID         1.973745
CRASH_DATE                        CRASH_DATE         0.000000
SEAT_NO                              SEAT_NO        79.551527
CITY                                    CITY        26.428584
STATE                                  STATE        25.553733
ZIPCODE                              ZIPCODE        32.829269
SEX                                      SEX         1.512193
AGE                                      AGE        28.709836
DRIVERS_LICENSE_STATE  DRIVERS_LICENSE_STATE        40.995712
DRIVERS_LICENSE_CLASS  DRIVERS_LICENSE_CLASS        49.150866
SAFETY_EQUIPMENT            SAFETY_EQUIPMENT         0.291784
AIRBAG_DEPLOYED              AIRBAG_DEPLOYED         1.890534
EJECTION                            EJECTION         1.216060
INJURY_CLASSIFICATION  INJURY_CLASSIFICATION         0.049592
HOSPITAL                            HOSPITAL        82.005558
EMS_AGENCY                        EMS_AGENCY        88.621255
EMS_RUN_NO                        EMS_RUN_NO        98.136646
DRIVER_ACTION                  DRIVER_ACTION        20.638563
DRIVER_VISION                  DRIVER_VISION        20.666245
PHYSICAL_CONDITION        PHYSICAL_CONDITION        20.581360
PEDPEDAL_ACTION              PEDPEDAL_ACTION        98.141580
PEDPEDAL_VISIBILITY      PEDPEDAL_VISIBILITY        98.145594
PEDPEDAL_LOCATION          PEDPEDAL_LOCATION        98.141664
BAC_RESULT                        BAC_RESULT        20.547072
BAC_RESULT VALUE            BAC_RESULT VALUE        99.873468
CELL_PHONE_USE                CELL_PHONE_USE        99.903240

In [6]:
percent_missing = vehicles.isnull().sum() * 100 / len(vehicles)
missing_value_df = pd.DataFrame({'column_name': vehicles.columns,
                                 'percent_missing': percent_missing})

pd.set_option('display.max_rows', None)
missing_value_df

                                       column_name  percent_missing
CRASH_UNIT_ID                        CRASH_UNIT_ID         0.000000
CRASH_RECORD_ID                    CRASH_RECORD_ID         0.000000
RD_NO                                        RD_NO         0.856252
CRASH_DATE                              CRASH_DATE         0.000000
UNIT_NO                                    UNIT_NO         0.000000
UNIT_TYPE                                UNIT_TYPE         0.144229
NUM_PASSENGERS                      NUM_PASSENGERS        85.015358
VEHICLE_ID                              VEHICLE_ID         2.287885
CMRC_VEH_I                              CMRC_VEH_I        98.150853
MAKE                                          MAKE         2.288337
MODEL                                        MODEL         2.301252
LIC_PLATE_STATE                    LIC_PLATE_STATE        10.817626
VEHICLE_YEAR                          VEHICLE_YEAR        18.204372
VEHICLE_DEFECT                      VEHICLE_DEFECT         2.287885
VEHICLE_TYPE                          VEHICLE_TYPE         2.287885
VEHICLE_USE                            VEHICLE_USE         2.287885
TRAVEL_DIRECTION                  TRAVEL_DIRECTION         2.287885
MANEUVER                                  MANEUVER         2.287885
TOWED_I                                    TOWED_I        88.304989
FIRE_I                                      FIRE_I        99.923054
OCCUPANT_CNT                          OCCUPANT_CNT         2.287885
EXCEED_SPEED_LIMIT_I          EXCEED_SPEED_LIMIT_I        99.783973
TOWED_BY                                  TOWED_BY        91.395752
TOWED_TO                                  TOWED_TO        94.660096
AREA_00_I                                AREA_00_I        96.236319
AREA_01_I                                AREA_01_I        73.920653
AREA_02_I                                AREA_02_I        83.282804
AREA_03_I                                AREA_03_I        90.522611
AREA_04_I                                AREA_04_I        90.163619
AREA_05_I                                AREA_05_I        84.951416
AREA_06_I                                AREA_06_I        84.807368
AREA_07_I                                AREA_07_I        86.712509
AREA_08_I                                AREA_08_I        83.828291
AREA_09_I                                AREA_09_I        95.220575
AREA_10_I                                AREA_10_I        93.120810
AREA_11_I                                AREA_11_I        86.392171
AREA_12_I                                AREA_12_I        86.604134
AREA_99_I                                AREA_99_I        89.297613
FIRST_CONTACT_POINT            FIRST_CONTACT_POINT         3.032331
CMV_ID                                      CMV_ID        98.955536
USDOT_NO                                  USDOT_NO        99.393371
CCMC_NO                                    CCMC_NO        99.866879
ILCC_NO                                    ILCC_NO        99.903546
COMMERCIAL_SRC                      COMMERCIAL_SRC        99.261967
GVWR                                          GVWR        99.392920
CARRIER_NAME                          CARRIER_NAME        98.999428
CARRIER_STATE                        CARRIER_STATE        99.055151
CARRIER_CITY                          CARRIER_CITY        99.072130
HAZMAT_PLACARDS_I                HAZMAT_PLACARDS_I        99.978777
HAZMAT_NAME                            HAZMAT_NAME        99.995936
UN_NO                                        UN_NO        99.961256
HAZMAT_PRESENT_I                  HAZMAT_PRESENT_I        99.226925
HAZMAT_REPORT_I                    HAZMAT_REPORT_I        99.251219
HAZMAT_REPORT_NO                  HAZMAT_REPORT_NO        99.999910
MCS_REPORT_I                          MCS_REPORT_I        99.245981
MCS_REPORT_NO                        MCS_REPORT_NO        99.999458
HAZMAT_VIO_CAUSE_CRASH_I  HAZMAT_VIO_CAUSE_CRASH_I        99.238937
MCS_VIO_CAUSE_CRASH_I        MCS_VIO_CAUSE_CRASH_I        99.251671
IDOT_PERMIT_NO                      IDOT_PERMIT_NO        99.938678
WIDE_LOAD_I                            WIDE_LOAD_I        99.990969
TRAILER1_WIDTH                      TRAILER1_WIDTH        99.791378
TRAILER2_WIDTH                      TRAILER2_WIDTH        99.976158
TRAILER1_LENGTH                    TRAILER1_LENGTH        99.827774
TRAILER2_LENGTH                    TRAILER2_LENGTH        99.995484
TOTAL_VEHICLE_LENGTH          TOTAL_VEHICLE_LENGTH        99.793455
AXLE_CNT                                  AXLE_CNT        99.700795
VEHICLE_CONFIG                      VEHICLE_CONFIG        99.129298
CARGO_BODY_TYPE                    CARGO_BODY_TYPE        99.164881
LOAD_TYPE                                LOAD_TYPE        99.200374
HAZMAT_OUT_OF_SERVICE_I    HAZMAT_OUT_OF_SERVICE_I        99.272804
MCS_OUT_OF_SERVICE_I          MCS_OUT_OF_SERVICE_I        99.252845
HAZMAT_CLASS                          HAZMAT_CLASS        99.927840

In [7]:
percent_missing = crashes.isnull().sum() * 100 / len(crashes)
missing_value_df = pd.DataFrame({'column_name': crashes.columns,
                                 'percent_missing': percent_missing})

pd.set_option('display.max_rows', None)
missing_value_df

                                                 column_name  percent_missing
CRASH_RECORD_ID                              CRASH_RECORD_ID         0.000000
RD_NO                                                  RD_NO         0.848576
CRASH_DATE_EST_I                            CRASH_DATE_EST_I        92.418071
CRASH_DATE                                        CRASH_DATE         0.000000
POSTED_SPEED_LIMIT                        POSTED_SPEED_LIMIT         0.000000
TRAFFIC_CONTROL_DEVICE                TRAFFIC_CONTROL_DEVICE         0.000000
DEVICE_CONDITION                            DEVICE_CONDITION         0.000000
WEATHER_CONDITION                          WEATHER_CONDITION         0.000000
LIGHTING_CONDITION                        LIGHTING_CONDITION         0.000000
FIRST_CRASH_TYPE                            FIRST_CRASH_TYPE         0.000000
TRAFFICWAY_TYPE                              TRAFFICWAY_TYPE         0.000000
LANE_CNT                                            LANE_CNT        63.231832
ALIGNMENT                                          ALIGNMENT         0.000000
ROADWAY_SURFACE_COND                    ROADWAY_SURFACE_COND         0.000000
ROAD_DEFECT                                      ROAD_DEFECT         0.000000
REPORT_TYPE                                      REPORT_TYPE         2.499714
CRASH_TYPE                                        CRASH_TYPE         0.000000
INTERSECTION_RELATED_I                INTERSECTION_RELATED_I        77.325360
NOT_RIGHT_OF_WAY_I                        NOT_RIGHT_OF_WAY_I        95.268894
HIT_AND_RUN_I                                  HIT_AND_RUN_I        69.889234
DAMAGE                                                DAMAGE         0.000000
DATE_POLICE_NOTIFIED                    DATE_POLICE_NOTIFIED         0.000000
PRIM_CONTRIBUTORY_CAUSE              PRIM_CONTRIBUTORY_CAUSE         0.000000
SEC_CONTRIBUTORY_CAUSE                SEC_CONTRIBUTORY_CAUSE         0.000000
STREET_NO                                          STREET_NO         0.000000
STREET_DIRECTION                            STREET_DIRECTION         0.000554
STREET_NAME                                      STREET_NAME         0.000185
BEAT_OF_OCCURRENCE                        BEAT_OF_OCCURRENCE         0.000924
PHOTOS_TAKEN_I                                PHOTOS_TAKEN_I        98.753377
STATEMENTS_TAKEN_I                        STATEMENTS_TAKEN_I        97.965968
DOORING_I                                          DOORING_I        99.677349
WORK_ZONE_I                                      WORK_ZONE_I        99.369482
WORK_ZONE_TYPE                                WORK_ZONE_TYPE        99.501794
WORKERS_PRESENT_I                          WORKERS_PRESENT_I        99.844218
NUM_UNITS                                          NUM_UNITS         0.001663
MOST_SEVERE_INJURY                        MOST_SEVERE_INJURY         0.207524
INJURIES_TOTAL                                INJURIES_TOTAL         0.205491
INJURIES_FATAL                                INJURIES_FATAL         0.205491
INJURIES_INCAPACITATING              INJURIES_INCAPACITATING         0.205491
INJURIES_NON_INCAPACITATING      INJURIES_NON_INCAPACITATING         0.205491
INJURIES_REPORTED_NOT_EVIDENT  INJURIES_REPORTED_NOT_EVIDENT         0.205491
INJURIES_NO_INDICATION                INJURIES_NO_INDICATION         0.205491
INJURIES_UNKNOWN                            INJURIES_UNKNOWN         0.205491
CRASH_HOUR                                        CRASH_HOUR         0.000000
CRASH_DAY_OF_WEEK                          CRASH_DAY_OF_WEEK         0.000000
CRASH_MONTH                                      CRASH_MONTH         0.000000
LATITUDE                                            LATITUDE         0.575819
LONGITUDE                                          LONGITUDE         0.575819
LOCATION                                            LOCATION         0.575819

In [11]:
perc = 80.0 # Like N %
min_count =  int(((100-perc)/100)*crashes.shape[0] + 1)
crashes_mod = crashes.dropna(axis=1, 
                            thresh=min_count)

In [18]:
perc = 80.0 # Like N %
min_count =  int(((100-perc)/100)*people.shape[0] + 1)
people_mod = people.dropna(axis=1, 
                            thresh=min_count)

In [12]:
crashes_mod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541142 entries, 0 to 541141
Data columns (total 41 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH_RECORD_ID                541142 non-null  object
 1   RD_NO                          536550 non-null  object
 2   CRASH_DATE                     541142 non-null  object
 3   POSTED_SPEED_LIMIT             541142 non-null  int64
 4   TRAFFIC_CONTROL_DEVICE         541142 non-null  object
 5   DEVICE_CONDITION               541142 non-null  object
 6   WEATHER_CONDITION              541142 non-null  object
 7   LIGHTING_CONDITION             541142 non-null  object
 8   FIRST_CRASH_TYPE               541142 non-null  object
 9   TRAFFICWAY_TYPE                541142 non-null  object
 10  LANE_CNT                       198968 non-null  float64
 11  ALIGNMENT                      541142 non-null  object
 12  ROADWAY_SURFACE_COND           541142 non-null  object
 13  ROAD_DEFECT                    541142 non-null  object
 14  REPORT_TYPE                    527615 non-null  object
 15  CRASH_TYPE                     541142 non-null  object
 16  INTERSECTION_RELATED_I         122702 non-null  object
 17  HIT_AND_RUN_I                  162942 non-null  object
 18  DAMAGE                         541142 non-null  object
 19  DATE_POLICE_NOTIFIED           541142 non-null  object
 20  PRIM_CONTRIBUTORY_CAUSE        541142 non-null  object
 21  SEC_CONTRIBUTORY_CAUSE         541142 non-null  object
 22  STREET_NO                      541142 non-null  int64
 23  STREET_DIRECTION               541139 non-null  object
 24  STREET_NAME                    541141 non-null  object
 25  BEAT_OF_OCCURRENCE             541137 non-null  float64
 26  NUM_UNITS                      541133 non-null  float64
 27  MOST_SEVERE_INJURY             540019 non-null  object
 28  INJURIES_TOTAL                 540030 non-null  float64
 29  INJURIES_FATAL                 540030 non-null  float64
 30  INJURIES_INCAPACITATING        540030 non-null  float64
 31  INJURIES_NON_INCAPACITATING    540030 non-null  float64
 32  INJURIES_REPORTED_NOT_EVIDENT  540030 non-null  float64
 33  INJURIES_NO_INDICATION         540030 non-null  float64
 34  INJURIES_UNKNOWN               540030 non-null  float64
 35  CRASH_HOUR                     541142 non-null  int64
 36  CRASH_DAY_OF_WEEK              541142 non-null  int64
 37  CRASH_MONTH                    541142 non-null  int64
 38  LATITUDE                       538026 non-null  float64
 39  LONGITUDE                      538026 non-null  float64
 40  LOCATION                       538026 non-null  object
dtypes: float64(12), int64(5), object(24)
memory usage: 169.3+ MB

In [20]:
people_mod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1195747 entries, 0 to 1195746
Data columns (total 22 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   PERSON_ID              1195747 non-null  object
 1   PERSON_TYPE            1195747 non-null  object
 2   CRASH_RECORD_ID        1195747 non-null  object
 3   RD_NO                  1185613 non-null  object
 4   VEHICLE_ID             1172146 non-null  float64
 5   CRASH_DATE             1195747 non-null  object
 6   SEAT_NO                244512 non-null   float64
 7   CITY                   879728 non-null   object
 8   STATE                  890189 non-null   object
 9   ZIPCODE                803192 non-null   object
 10  SEX                    1177665 non-null  object
 11  AGE                    852450 non-null   float64
 12  DRIVERS_LICENSE_STATE  705542 non-null   object
 13  DRIVERS_LICENSE_CLASS  608027 non-null   object
 14  SAFETY_EQUIPMENT       1192258 non-null  object
 15  AIRBAG_DEPLOYED        1173141 non-null  object
 16  EJECTION               1181206 non-null  object
 17  INJURY_CLASSIFICATION  1195154 non-null  object
 18  DRIVER_ACTION          948962 non-null   object
 19  DRIVER_VISION          948631 non-null   object
 20  PHYSICAL_CONDITION     949646 non-null   object
 21  BAC_RESULT             950056 non-null   object
dtypes: float64(3), object(19)
memory usage: 200.7+ MB

In [ ]:
people_mod.drop([''])

In [21]:
people_mod.shape

(1195747, 22)

In [22]:
perc = 80.0 # Like N %
min_count =  int(((100-perc)/100)*vehicles.shape[0] + 1)
vehicles_mod = vehicles.dropna(axis=1, 
                            thresh=min_count)

In [23]:
vehicles_mod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1107267 entries, 0 to 1107266
Data columns (total 19 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   CRASH_UNIT_ID        1107267 non-null  int64
 1   CRASH_RECORD_ID      1107267 non-null  object
 2   RD_NO                1097786 non-null  object
 3   CRASH_DATE           1107267 non-null  object
 4   UNIT_NO              1107267 non-null  int64
 5   UNIT_TYPE            1105670 non-null  object
 6   VEHICLE_ID           1081934 non-null  float64
 7   MAKE                 1081929 non-null  object
 8   MODEL                1081786 non-null  object
 9   LIC_PLATE_STATE      987487 non-null   object
 10  VEHICLE_YEAR         905696 non-null   float64
 11  VEHICLE_DEFECT       1081934 non-null  object
 12  VEHICLE_TYPE         1081934 non-null  object
 13  VEHICLE_USE          1081934 non-null  object
 14  TRAVEL_DIRECTION     1081934 non-null  object
 15  MANEUVER             1081934 non-null  object
 16  OCCUPANT_CNT         1081934 non-null  float64
 17  AREA_01_I            288768 non-null   object
 18  FIRST_CONTACT_POINT  1073691 non-null  object
dtypes: float64(3), int64(2), object(14)
memory usage: 160.5+ MB

In [31]:
vehicles_mod.drop(['RD_NO', 'CRASH_DATE', 'UNIT_NO', 'AREA_01_I'], axis =1, inplace=True)

/Users/meaghanross/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [32]:
vehicles_mod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1107267 entries, 0 to 1107266
Data columns (total 15 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   CRASH_UNIT_ID        1107267 non-null  int64
 1   CRASH_RECORD_ID      1107267 non-null  object
 2   UNIT_TYPE            1105670 non-null  object
 3   VEHICLE_ID           1081934 non-null  float64
 4   MAKE                 1081929 non-null  object
 5   MODEL                1081786 non-null  object
 6   LIC_PLATE_STATE      987487 non-null   object
 7   VEHICLE_YEAR         905696 non-null   float64
 8   VEHICLE_DEFECT       1081934 non-null  object
 9   VEHICLE_TYPE         1081934 non-null  object
 10  VEHICLE_USE          1081934 non-null  object
 11  TRAVEL_DIRECTION     1081934 non-null  object
 12  MANEUVER             1081934 non-null  object
 13  OCCUPANT_CNT         1081934 non-null  float64
 14  FIRST_CONTACT_POINT  1073691 non-null  object
dtypes: float64(3), int64(1), object(11)
memory usage: 126.7+ MB

In [33]:
crashes_mod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541142 entries, 0 to 541141
Data columns (total 41 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH_RECORD_ID                541142 non-null  object
 1   RD_NO                          536550 non-null  object
 2   CRASH_DATE                     541142 non-null  object
 3   POSTED_SPEED_LIMIT             541142 non-null  int64
 4   TRAFFIC_CONTROL_DEVICE         541142 non-null  object
 5   DEVICE_CONDITION               541142 non-null  object
 6   WEATHER_CONDITION              541142 non-null  object
 7   LIGHTING_CONDITION             541142 non-null  object
 8   FIRST_CRASH_TYPE               541142 non-null  object
 9   TRAFFICWAY_TYPE                541142 non-null  object
 10  LANE_CNT                       198968 non-null  float64
 11  ALIGNMENT                      541142 non-null  object
 12  ROADWAY_SURFACE_COND           541142 non-null  object
 13  ROAD_DEFECT                    541142 non-null  object
 14  REPORT_TYPE                    527615 non-null  object
 15  CRASH_TYPE                     541142 non-null  object
 16  INTERSECTION_RELATED_I         122702 non-null  object
 17  HIT_AND_RUN_I                  162942 non-null  object
 18  DAMAGE                         541142 non-null  object
 19  DATE_POLICE_NOTIFIED           541142 non-null  object
 20  PRIM_CONTRIBUTORY_CAUSE        541142 non-null  object
 21  SEC_CONTRIBUTORY_CAUSE         541142 non-null  object
 22  STREET_NO                      541142 non-null  int64
 23  STREET_DIRECTION               541139 non-null  object
 24  STREET_NAME                    541141 non-null  object
 25  BEAT_OF_OCCURRENCE             541137 non-null  float64
 26  NUM_UNITS                      541133 non-null  float64
 27  MOST_SEVERE_INJURY             540019 non-null  object
 28  INJURIES_TOTAL                 540030 non-null  float64
 29  INJURIES_FATAL                 540030 non-null  float64
 30  INJURIES_INCAPACITATING        540030 non-null  float64
 31  INJURIES_NON_INCAPACITATING    540030 non-null  float64
 32  INJURIES_REPORTED_NOT_EVIDENT  540030 non-null  float64
 33  INJURIES_NO_INDICATION         540030 non-null  float64
 34  INJURIES_UNKNOWN               540030 non-null  float64
 35  CRASH_HOUR                     541142 non-null  int64
 36  CRASH_DAY_OF_WEEK              541142 non-null  int64
 37  CRASH_MONTH                    541142 non-null  int64
 38  LATITUDE                       538026 non-null  float64
 39  LONGITUDE                      538026 non-null  float64
 40  LOCATION                       538026 non-null  object
dtypes: float64(12), int64(5), object(24)
memory usage: 169.3+ MB

In [34]:
crashes_mod.drop(['RD_NO','REPORT_TYPE', 'INTERSECTION_RELATED_I', 'DATE_POLICE_NOTIFIED', 'STREET_NO', 'STREET_DIRECTION', 'STREET_NAME'], axis =1, inplace=True)

In [35]:
people_mod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1195747 entries, 0 to 1195746
Data columns (total 22 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   PERSON_ID              1195747 non-null  object
 1   PERSON_TYPE            1195747 non-null  object
 2   CRASH_RECORD_ID        1195747 non-null  object
 3   RD_NO                  1185613 non-null  object
 4   VEHICLE_ID             1172146 non-null  float64
 5   CRASH_DATE             1195747 non-null  object
 6   SEAT_NO                244512 non-null   float64
 7   CITY                   879728 non-null   object
 8   STATE                  890189 non-null   object
 9   ZIPCODE                803192 non-null   object
 10  SEX                    1177665 non-null  object
 11  AGE                    852450 non-null   float64
 12  DRIVERS_LICENSE_STATE  705542 non-null   object
 13  DRIVERS_LICENSE_CLASS  608027 non-null   object
 14  SAFETY_EQUIPMENT       1192258 non-null  object
 15  AIRBAG_DEPLOYED        1173141 non-null  object
 16  EJECTION               1181206 non-null  object
 17  INJURY_CLASSIFICATION  1195154 non-null  object
 18  DRIVER_ACTION          948962 non-null   object
 19  DRIVER_VISION          948631 non-null   object
 20  PHYSICAL_CONDITION     949646 non-null   object
 21  BAC_RESULT             950056 non-null   object
dtypes: float64(3), object(19)
memory usage: 200.7+ MB

In [37]:
people_mod.drop(['CRASH_DATE', 'CITY', 'ZIPCODE','RD_NO'], axis =1, inplace=True)