# Working Notebook

__Phase 3 Project - Chicago Traffic Crash Classification__

__Business Understanding__

__Data Understanding and Preparation__

Load dependencies

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

Import data files

In [15]:
crashes = pd.read_csv('Chicago-Crashes/data/Traffic_Crashes_-_Crashes.csv')
people = pd.read_csv('Chicago-Crashes/data/Traffic_Crashes_-_People.csv')
vehicles = pd.read_csv('Chicago-Crashes/data/Traffic_Crashes_-_Vehicles.csv')

In [11]:
crashes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541142 entries, 0 to 541141
Data columns (total 49 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH_RECORD_ID                541142 non-null  object
 1   RD_NO                          536550 non-null  object
 2   CRASH_DATE_EST_I               41029 non-null   object
 3   CRASH_DATE                     541142 non-null  object
 4   POSTED_SPEED_LIMIT             541142 non-null  int64
 5   TRAFFIC_CONTROL_DEVICE         541142 non-null  object
 6   DEVICE_CONDITION               541142 non-null  object
 7   WEATHER_CONDITION              541142 non-null  object
 8   LIGHTING_CONDITION             541142 non-null  object
 9   FIRST_CRASH_TYPE               541142 non-null  object
 10  TRAFFICWAY_TYPE                541142 non-null  object
 11  LANE_CNT                       198968 non-null  float64
 12  ALIGNMENT                      541142 non-null  object
 13  ROADWAY_SURFACE_COND           541142 non-null  object
 14  ROAD_DEFECT                    541142 non-null  object
 15  REPORT_TYPE                    527615 non-null  object
 16  CRASH_TYPE                     541142 non-null  object
 17  INTERSECTION_RELATED_I         122702 non-null  object
 18  NOT_RIGHT_OF_WAY_I             25602 non-null   object
 19  HIT_AND_RUN_I                  162942 non-null  object
 20  DAMAGE                         541142 non-null  object
 21  DATE_POLICE_NOTIFIED           541142 non-null  object
 22  PRIM_CONTRIBUTORY_CAUSE        541142 non-null  object
 23  SEC_CONTRIBUTORY_CAUSE         541142 non-null  object
 24  STREET_NO                      541142 non-null  int64
 25  STREET_DIRECTION               541139 non-null  object
 26  STREET_NAME                    541141 non-null  object
 27  BEAT_OF_OCCURRENCE             541137 non-null  float64
 28  PHOTOS_TAKEN_I                 6746 non-null    object
 29  STATEMENTS_TAKEN_I             11007 non-null   object
 30  DOORING_I                      1746 non-null    object
 31  WORK_ZONE_I                    3412 non-null    object
 32  WORK_ZONE_TYPE                 2696 non-null    object
 33  WORKERS_PRESENT_I              843 non-null     object
 34  NUM_UNITS                      541133 non-null  float64
 35  MOST_SEVERE_INJURY             540019 non-null  object
 36  INJURIES_TOTAL                 540030 non-null  float64
 37  INJURIES_FATAL                 540030 non-null  float64
 38  INJURIES_INCAPACITATING        540030 non-null  float64
 39  INJURIES_NON_INCAPACITATING    540030 non-null  float64
 40  INJURIES_REPORTED_NOT_EVIDENT  540030 non-null  float64
 41  INJURIES_NO_INDICATION         540030 non-null  float64
 42  INJURIES_UNKNOWN               540030 non-null  float64
 43  CRASH_HOUR                     541142 non-null  int64
 44  CRASH_DAY_OF_WEEK              541142 non-null  int64
 45  CRASH_MONTH                    541142 non-null  int64
 46  LATITUDE                       538026 non-null  float64
 47  LONGITUDE                      538026 non-null  float64
 48  LOCATION                       538026 non-null  object
dtypes: float64(12), int64(5), object(32)
memory usage: 202.3+ MB

In [16]:
people.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1195747 entries, 0 to 1195746
Data columns (total 30 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   PERSON_ID              1195747 non-null  object
 1   PERSON_TYPE            1195747 non-null  object
 2   CRASH_RECORD_ID        1195747 non-null  object
 3   RD_NO                  1185613 non-null  object
 4   VEHICLE_ID             1172146 non-null  float64
 5   CRASH_DATE             1195747 non-null  object
 6   SEAT_NO                244512 non-null   float64
 7   CITY                   879728 non-null   object
 8   STATE                  890189 non-null   object
 9   ZIPCODE                803192 non-null   object
 10  SEX                    1177665 non-null  object
 11  AGE                    852450 non-null   float64
 12  DRIVERS_LICENSE_STATE  705542 non-null   object
 13  DRIVERS_LICENSE_CLASS  608027 non-null   object
 14  SAFETY_EQUIPMENT       1192258 non-null  object
 15  AIRBAG_DEPLOYED        1173141 non-null  object
 16  EJECTION               1181206 non-null  object
 17  INJURY_CLASSIFICATION  1195154 non-null  object
 18  HOSPITAL               215168 non-null   object
 19  EMS_AGENCY             136061 non-null   object
 20  EMS_RUN_NO             22281 non-null    object
 21  DRIVER_ACTION          948962 non-null   object
 22  DRIVER_VISION          948631 non-null   object
 23  PHYSICAL_CONDITION     949646 non-null   object
 24  PEDPEDAL_ACTION        22222 non-null    object
 25  PEDPEDAL_VISIBILITY    22174 non-null    object
 26  PEDPEDAL_LOCATION      22221 non-null    object
 27  BAC_RESULT             950056 non-null   object
 28  BAC_RESULT VALUE       1513 non-null     float64
 29  CELL_PHONE_USE         1157 non-null     object
dtypes: float64(4), object(26)
memory usage: 273.7+ MB

In [18]:
percent_missing = people.isnull().sum() * 100 / len(people)
missing_value_df = pd.DataFrame({'column_name': people.columns,
                                 'percent_missing': percent_missing})

pd.set_option('display.max_rows', None)
missing_value_df

                                 column_name  percent_missing
PERSON_ID                          PERSON_ID         0.000000
PERSON_TYPE                      PERSON_TYPE         0.000000
CRASH_RECORD_ID              CRASH_RECORD_ID         0.000000
RD_NO                                  RD_NO         0.847504
VEHICLE_ID                        VEHICLE_ID         1.973745
CRASH_DATE                        CRASH_DATE         0.000000
SEAT_NO                              SEAT_NO        79.551527
CITY                                    CITY        26.428584
STATE                                  STATE        25.553733
ZIPCODE                              ZIPCODE        32.829269
SEX                                      SEX         1.512193
AGE                                      AGE        28.709836
DRIVERS_LICENSE_STATE  DRIVERS_LICENSE_STATE        40.995712
DRIVERS_LICENSE_CLASS  DRIVERS_LICENSE_CLASS        49.150866
SAFETY_EQUIPMENT            SAFETY_EQUIPMENT         0.291784
AIRBAG_DEPLOYED              AIRBAG_DEPLOYED         1.890534
EJECTION                            EJECTION         1.216060
INJURY_CLASSIFICATION  INJURY_CLASSIFICATION         0.049592
HOSPITAL                            HOSPITAL        82.005558
EMS_AGENCY                        EMS_AGENCY        88.621255
EMS_RUN_NO                        EMS_RUN_NO        98.136646
DRIVER_ACTION                  DRIVER_ACTION        20.638563
DRIVER_VISION                  DRIVER_VISION        20.666245
PHYSICAL_CONDITION        PHYSICAL_CONDITION        20.581360
PEDPEDAL_ACTION              PEDPEDAL_ACTION        98.141580
PEDPEDAL_VISIBILITY      PEDPEDAL_VISIBILITY        98.145594
PEDPEDAL_LOCATION          PEDPEDAL_LOCATION        98.141664
BAC_RESULT                        BAC_RESULT        20.547072
BAC_RESULT VALUE            BAC_RESULT VALUE        99.873468
CELL_PHONE_USE                CELL_PHONE_USE        99.903240